/*
    TITLE font-family: 'Bebas Neue', cursive;
    TEXT font-family: 'Montserrat', sans-serif;
*/

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    padding: 0;
}

body {
    width: 100%;
    background-color: #f5f5ee;
    text-align: center;
}

/* HEADER */

#logo1 {
    display: none;
    cursor: default;
}

#logo2 {
    width: 25%;
    max-width: 300px;
    cursor: default;
 }

.br {
    display: none;
}

header {
    width: 90%;
    margin: 20px auto 0 auto;
}

header nav {
    width: 100%;
    margin: auto;
}

header nav .menu {
    font-size: 1.5em;
    margin: 0 30px;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    text-decoration: none;
    text-align: center;
    color: #472d30;
    font-family: 'Bebas Neue', sans-serif;
}

header nav ul li a:hover {
    color: #723d46;
    transition: 0.3s;
}

hr {
    border: none;
    border-bottom: 3px solid #E26d5c;
    margin-top: 20px;
    width: 70%;
}

@media screen and (min-width: 410px) and (max-width: 850px) {
    #logo1 {
        display: block;
        width: 40%;
        margin : 0 auto 20px auto;
    }
    #logo2 {
        display: none;
    }
    header nav .menu {
        font-size: 1.2em;
        margin: 0 20px;
    }
}

@media screen and (min-width: 290px) and (max-width: 410px){
    #logo1 {
        display: block;
        width: 80%;
        margin : 0 auto 20px auto;
    }
    #logo2 {
        display: none;
    }
    header nav .menu {
        font-size: 1em;
        margin: 0 10px;
    }
}

@media screen and (max-width: 290px){
    #logo1 {
        display: block;
        width: 90%;
        margin : 0 auto 10px auto;
    }
    #logo2 {
        display: none;
    }
    header nav .menu {
        font-size: 0.7em;
        margin: 0 8px;
    }
    .br {
        display: block;
    }
}

/* FOOTER */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer div p {
    position: relative;
    bottom: 10px;
    color: #472d30;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 2px;
}

footer div p a {
    text-decoration: none;
    color: #472d30;
}

footer div p a:hover {
    color: #723d46;
}

@media screen and (min-width: 410px) and (max-width: 850px) {
    footer div p {
        font-size: 0.6em;
    }
}

@media screen and (min-width: 290px) and (max-width: 410px){
    footer div p {
        font-size: 0.4em;
        letter-spacing: 1px;
    }
}

@media screen and (max-width: 290px){
    footer div p {
        font-size: 0.4em;
        letter-spacing: 0;
    }
}

/* WELCOME HOME PAGE SECTION */

#welcome {
    width: 60%;
    max-width: 700px;
    max-height: 690px;
    margin: 40px auto 0 auto;
    text-align: left;
    display: inline-block;
}

#welcome div img {
    max-width: 70%;
    max-height: 400px;
    box-shadow: -190px 32px 0 1px #c9cba3;
    display: inline;
}

#welcome #welcome-div {
    height: 150px;
    width: 40%;
    position:absolute;
    top: 35%;
    right: 5%;
    background-color: #472d30;
}

#welcome #welcome-text {
    width: 45%;
    min-height: 290px;
    background-color: #E26d5c;
    padding: 40px;
    float: right;
    position: relative;
    bottom: 290px;
    left: 120px;
}

#welcome #welcome-text p {
    font-size: 1.2em;
    padding-bottom: 5px;
    color: #472d30;
    text-align: justify;
}

#welcome #welcome-text a button {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.2em;
    background-color: #472d30;
    padding: 10px;
    border: none;
    color: #E26d5c;
    position: absolute;
    right: 40px;
    margin-bottom: 20px;
}

@media screen and (min-width: 1330px) and (max-width: 1650px) {
    #welcome #welcome-div {
        width: 20%;
        right: 12%;
    }
    #welcome #welcome-text {
        bottom: 270px;
    }
    #welcome #welcome-text p {
        font-size: 1em;
        padding-bottom: 10px;
    }
    #welcome #welcome-text a button {
        font-size: 1.1em;
    }
}

@media screen and (min-width: 970px) and (max-width: 1330px){
    #welcome #welcome-div {
        width: 30%;
        top: 38%;
        right: 5%;
    }
    #welcome div img {
        max-width: 80%;
        box-shadow: -200px 32px 0 1px #c9cba3;
    }
    #welcome #welcome-text {
        width: 55%;
        min-height: 230px;
        bottom: 220px;
    }
    #welcome #welcome-text p {
        font-size: 0.9em;
        padding-bottom: 10px;
    }
    #welcome #welcome-text a button {
        font-size: 1em;
    }
}

@media screen and (min-width: 780px) and (max-width: 970px){
    #welcome #welcome-div {
        width: 30%;
        top: 44%;
        right: 0;
    }
    #welcome {
        width: 70%;
    }
    #welcome div img {
        max-width: 90%;
    }
    #welcome #welcome-text {
        width: 65%;
        min-height: 180px;
        bottom: 200px;
        left: 70px;
    }
    #welcome #welcome-text p {
        font-size: 0.8em;
    }
    #welcome #welcome-text a button {
        font-size: 0.9em;
    }
}

@media screen and (min-width: 555px) and (max-width: 780px){
    #welcome #welcome-div {
        width: 10%;
        height: 100px;
        top: 46%;
        right: 0;
    }
    #welcome {
        width: 80%;
    }
    #welcome div img {
        max-width: 90%;
    }
    #welcome #welcome-text {
        width: 75%;
        min-height: 150px;
        bottom: 180px;
        left: 50px;
    }
    #welcome #welcome-text p {
        font-size: 0.7em;
    }
    #welcome #welcome-text a button {
        font-size: 0.8em;
    }
}

@media screen and (min-width: 10px) and (max-width: 555px){
    #welcome div img {
        display: none;
    }
    #welcome #welcome-text {
        width: 100%;
        min-height: 170px;
        background-color: #E26d5c;
        padding: 40px;
        position: relative;
        bottom: 0;
        left: 40px;
    }
    #welcome #welcome-text p {
        font-size: 0.7em;
        padding-bottom: 10px;
    }
    #welcome #welcome-text a button {
        font-size: 0.8em;
    }
}
