/*
    TITLE font-family: 'Bebas Neue', cursive;
    TEXT font-family: 'Montserrat', sans-serif;
*/

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    padding: 0;
}

body {
    width: 100%;
    background-color: #f5f5ee;
    text-align: center;
}

/* HEADER */

#logo1 {
    display: none;
    cursor: default;
}

#logo2 {
    width: 25%;
    max-width: 300px;
    cursor: default;
 }

.br {
    display: none;
}

header {
    width: 90%;
    margin: 20px auto 0 auto;
}

header nav {
    width: 100%;
    margin: auto;
}

header nav .menu {
    font-size: 1.5em;
    margin: 0 30px;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    text-decoration: none;
    text-align: center;
    color: #472d30;
    font-family: 'Bebas Neue', sans-serif;
}

header nav ul li a:hover {
    color: #723d46;
    transition: 0.3s;
}

hr {
    border: none;
    border-bottom: 3px solid #E26d5c;
    margin-top: 20px;
    width: 70%;
}

@media screen and (min-width: 410px) and (max-width: 850px) {
    #logo1 {
        display: block;
        width: 40%;
        margin : 0 auto 20px auto;
    }
    #logo2 {
        display: none;
    }
    header nav .menu {
        font-size: 1.2em;
        margin: 0 20px;
    }
}

@media screen and (min-width: 290px) and (max-width: 410px){
    #logo1 {
        display: block;
        width: 80%;
        margin : 0 auto 20px auto;
    }
    #logo2 {
        display: none;
    }
    header nav .menu {
        font-size: 1em;
        margin: 0 10px;
    }
}

@media screen and (max-width: 290px){
    #logo1 {
        display: block;
        width: 90%;
        margin : 0 auto 10px auto;
    }
    #logo2 {
        display: none;
    }
    header nav .menu {
        font-size: 0.7em;
        margin: 0 8px;
    }
    .br {
        display: block;
    }
}

/* FOOTER */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f5f5ee;
    height: 30px;
    z-index: 5;
}

footer div p {
    position: relative;
    top: 10px;
    color: #472d30;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 2px;
}

footer div p a {
    text-decoration: none;
    color: #472d30;
}

footer div p a:hover {
    color: #723d46;
}

@media screen and (min-width: 410px) and (max-width: 850px) {
    footer div p {
        font-size: 0.6em;
    }
}

@media screen and (min-width: 290px) and (max-width: 410px){
    footer div p {
        font-size: 0.4em;
        letter-spacing: 1px;
    }
}

@media screen and (max-width: 290px){
    footer div p {
        font-size: 0.4em;
        letter-spacing: 0;
    }
}

/* WELCOME HOME PAGE SECTION */

#welcome {
    width: 60%;
    max-width: 700px;
    max-height: 380px;
    margin: 40px auto 0 auto;
    text-align: left;
    display: inline-block;
}

#welcome div img {
    max-width: 70%;
    max-height: 400px;
    box-shadow: -190px 32px 0 1px #c9cba3;
    display: inline;
}

#welcome #welcome-div {
    height: 150px;
    width: 40%;
    position:absolute;
    top: 35%;
    right: 5%;
    background-color: #472d30;
}

#welcome #welcome-text {
    width: 45%;
    min-height: 280px;
    background-color: #E26d5c;
    padding: 40px;
    float: right;
    position: relative;
    bottom: 290px;
    left: 120px;
}

#welcome #welcome-text p {
    font-size: 1.1em;
    padding-bottom: 5px;
    color: #472d30;
    text-align: justify;
}

#welcome #welcome-text a button {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.2em;
    background-color: #472d30;
    padding: 10px;
    border: none;
    color: #E26d5c;
    position: absolute;
    right: 40px;
    margin-bottom: 20px;
    cursor: pointer;
}

@media screen and (min-width: 1650px){
    #welcome {
        margin-top: 100px;
    }
    #welcome #welcome-text {
        min-height: 350px;
    }
}

@media screen and (min-width: 1330px) and (max-width: 1650px) {
    #welcome #welcome-div {
        width: 20%;
        right: 12%;
    }
    #welcome #welcome-text {
        bottom: 270px;
    }
    #welcome #welcome-text p {
        font-size: 0.9em;
        padding-bottom: 10px;
    }
    #welcome #welcome-text a button {
        font-size: 1.1em;
    }
}

@media screen and (min-width: 970px) and (max-width: 1330px){
    #welcome #welcome-div {
        width: 30%;
        top: 38%;
        right: 5%;
    }
    #welcome div img {
        max-width: 80%;
        box-shadow: -200px 32px 0 1px #c9cba3;
    }
    #welcome #welcome-text {
        width: 55%;
        min-height: 230px;
        bottom: 220px;
    }
    #welcome #welcome-text p {
        font-size: 0.9em;
        padding-bottom: 10px;
    }
    #welcome #welcome-text a button {
        font-size: 1em;
    }
}

@media screen and (min-width: 780px) and (max-width: 970px){
    #welcome #welcome-div {
        width: 30%;
        top: 44%;
        right: 0;
    }
    #welcome {
        width: 70%;
    }
    #welcome div img {
        max-width: 90%;
    }
    #welcome #welcome-text {
        width: 65%;
        min-height: 180px;
        bottom: 200px;
        left: 70px;
    }
    #welcome #welcome-text p {
        font-size: 0.8em;
    }
    #welcome #welcome-text a button {
        font-size: 0.9em;
    }
}

@media screen and (min-width: 555px) and (max-width: 780px){
    #welcome #welcome-div {
        width: 10%;
        height: 100px;
        top: 46%;
        right: 0;
    }
    #welcome {
        width: 80%;
    }
    #welcome div img {
        max-width: 90%;
    }
    #welcome #welcome-text {
        width: 75%;
        min-height: 150px;
        bottom: 180px;
        left: 50px;
    }
    #welcome #welcome-text p {
        font-size: 0.7em;
    }
    #welcome #welcome-text a button {
        font-size: 0.8em;
    }
}

@media screen and (min-width: 10px) and (max-width: 555px){
    #welcome div img {
        display: none;
    }
    #welcome #welcome-text {
        width: 100%;
        min-height: 170px;
        background-color: #E26d5c;
        padding: 40px;
        position: relative;
        bottom: 0;
        left: 40px;
    }
    #welcome #welcome-text p {
        font-size: 0.7em;
        padding-bottom: 10px;
    }
    #welcome #welcome-text a button {
        font-size: 0.8em;
    }
}

/* CLEARANCE AND PRODUCT OF THE DAY */

#clearance-potd {
    width: 70%;
    margin: 50px auto 50px auto;
    min-height: 140px;
    position: relative;
    bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    transform: scale(1.1);
}

#clearance-potd .clearance {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    flex: 0 0 auto;
}

#clearance-potd .potd {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    flex: 0 0 auto;
}

#clearance-potd .clearance div {
    width: 130px;
    height: 220px;
    flex: 0 0 auto;
    margin: 10px;
    position: relative;
    bottom: 20px;
}
#clearance-potd .potd div {
    width: 50px;
    height: 50px;
    flex: 0 0 auto;
    margin: 10px;
}

#clearance-potd .potd div:first-child {
    width: 250px;
    height: 130px;
    position: relative;
    left: 50px;
    top: 30px;
    z-index: 1;
}

#clearance-potd .potd div:last-child {
    width: 200px;
    height: 200px;
    float: right;
    position: relative;
    right: 40px;
    background-image: url("../img/looks/random.jpg");
    background-size: contain;
}

.terracotta {
    background-color: #E26d5c;
    color: #723d46;
    border: 2px solid #E26d5c;
    text-shadow: 1px 1px #E26d5c;
}

.salmon {
    background-color: #723d46;
    color: #E26d5c;
    border: 2px solid #723d46;
    text-shadow: 1px 1px #723d46;
}

.anis {
    background-color: #c9cba3;
    color: #472d30;
    border: 2px solid #c9cba3;
    text-shadow: 1px 1px #c9cba3;
}

.burgundy {
    background-color: #472d30;
    color: #c9cba3;
    border: 2px solid #472d30;
    text-shadow: 1px 1px #472d30;
}

#clearance-potd .clearance div h3 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3em;
    letter-spacing: 2px;
    position: relative;
    bottom: 35px;
    right: 7px;
}

#clearance-potd .clearance div h3 span {
    font-size: 0.7em;
    font-family: 'Bebas Neue', sans-serif;
}

#clearance-potd .clearance div h4 {
    position: relative;
    bottom: 30px;
}

#clearance-potd .clearance div p {
    position: relative;
    bottom: 25px;
    font-size: 0.7em;
    padding: 0 10px;
}

#clearance-potd .clearance div a button {
    font-family: 'Bebas Neue', sans-serif;
    padding: 10px;
    margin-top:-5px;
    cursor: pointer;
}

#clearance-potd .potd div h3 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2em;
    letter-spacing: 2px;
    position: relative;
    bottom: 19px;
    right: 27px;
}

#clearance-potd .potd div h4 {
    position: relative;
    bottom: 19px;
    font-size: 0.8em;
    margin: 0 10px;
}

#clearance-potd .potd div p {
    position: relative;
    bottom: 19px;
    font-size: 0.7em;
    margin: 0 10px -15px 10px;
}

#clearance-potd .potd div a button {
    font-family: 'Bebas Neue', sans-serif;
    padding: 5px 10px;
    margin-top: 15px;
    cursor: pointer;
}

@media screen and (min-width: 1080px) and (max-width: 1370px){
    #clearance-potd {
        width: 90%;
        bottom: 10px;
    }
}

@media screen and (min-width: 550px) and (max-width: 1080px){
    #clearance-potd {
        transform: scale(0.9);
        width: 95%;
        bottom: 0;
    }
}

@media screen and (min-width: 420px) and (max-width: 550px){
    #clearance-potd {
        transform: scale(0.7);
        width: 100%;
        margin: 0 auto;
        top :20px;
    }
}

@media screen and (min-width: 10px) and (max-width: 420px){
    #clearance-potd {
        transform: scale(0.6);
        width: 100%;
        margin: 0 auto;
        top :0;
        right: 20px;
    }
    #clearance-potd .potd {
        transform: scale(1.3);
        position: relative;
        right: 30px;
    }
}

/* ABOUT US PAGE */

#au {
    margin: 50px auto;
    width: 100%;
}

#au .au-img1 {
    width: 300px;
    height: 350px;
    background-image: url("../img/looks/bathroom.jpg");
    background-size: cover;
    position: absolute;
    left: 15%;
    top: 600px;
}

#au .au-img2 {
    width: 30%;
    height: 280px;
    background-color: #E26d5c;
    position: absolute;
    left: 10%;
    top: 250px;
}

#au .au-img3 {
    width: 250px;
    height: 300px;
    background-image: url("../img/looks/all-purpose.jpg");
    background-size: cover;
    position: absolute;
    right: 15%;
    top: 250px;
}

#au .au-img4 {
    width: 35%;
    height: 210px;
    background-color: #c9cba3;
    position: absolute;
    right: 12%;
    top: 580px;
}

#au .au-img5 {
    width: 35%;
    height: 210px;
    position: absolute;
    right: 12%;
    top: 780px;
}

#au .au-text {
    width: 50%;
    padding: 4%;
    position: absolute;
    top: 280px;
    left: 21%;
    background-color: #472d30;
    color: #E26d5c;
    text-align: right;
}

#au .au-text h3 {
    font-size: 4em;
    font-family: 'Bebas Neue', sans-serif;
    position: relative;
    bottom: 95px;
    text-shadow: 1px 1px #472d30;
}

#au .au-text p {
    font-size: 0.9em;
    position: relative;
    bottom: 55px;
    text-align: justify;
}

#au .au-text a button {
    font-family: 'Bebas Neue', sans-serif;
    background-color: #E26d5c;
    border: none;
    font-size: 1.2em;
    color: #472d30;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 20px;
}

@media screen and (min-width: 860px) and (max-width: 970px){
    #au {
        margin: 40px auto;
    }
    #au .au-text {
        width: 60%;
        top: 220px;
        left: 16%;
    }
    #au .au-img3 {
        right: 5%;
        top: 230px;
    }
    #au .au-img1 {
        left: 5%;
        top: 500px;
    }
    #au .au-img4 {
        right: 8%;
        top: 600px;
    }
    #au .au-text h3 {
        font-size: 3.5em;
        bottom: 65px;
    }
}

@media screen and (min-width: 60px) and (max-width: 860px){
    #au {
        margin: 40px auto;
    }
    #au .au-text {
        width: 60%;
        top: 220px;
        left: 16%;
    }
    #au .au-img3 {
        right: 5%;
        top: 230px;
    }
    #au .au-img1 {
        left: 5%;
        top: 500px;
    }
    #au .au-img4 {
        right: 8%;
        top: 600px;
    }
    #au .au-img5 {
        top: 900px;
    }
    #au .au-text h3 {
        font-size: 3.5em;
        bottom: 65px;
    }
}

@media screen and (min-width: 250px) and (max-width: 500px){
    #au {
        margin: 40px auto;
    }
    #au .au-text {
        width: 90%;
        top: 240px;
        left: 1%;
    }
    #au .au-img3 {
        display: none;
    }
    #au .au-img1 {
        display: none;
    }
    #au .au-img4 {
        display: none;
    }
    #au .au-img5 {
        top: 700px;
    }
    #au .au-text h3 {
        font-size: 3em;
        bottom: 55px;
    }
}

@media screen and (min-width: 10px) and (max-width: 250px){
    #au {
        margin: 40px auto;
    }
    #au .au-text {
        width: 90%;
        top: 240px;
        left: 1%;
    }
    #au .au-text p {
        font-size: 0.7em;
        bottom: 35px;
    }
    #au .au-img3 {
        display: none;
    }
    #au .au-img1 {
        display: none;
    }
    #au .au-img4 {
        display: none;
    }
    #au .au-img5 {
        top: 800px;
    }
    #au .au-text h3 {
        font-size: 2.5em;
        bottom: 35px;
    }
}

/* CONTACT PAGE */

#social-media a img {
    width: 40px;
    margin: 10px;
    position: relative;
    top: 550px;
    right: 25%;
    transition: 0.2s;
}

#social-media a img:hover {
    width: 48px;
    margin: 6px;
    transition: 0.2s;
}

#contact .img {
    width: 40%;
    max-width: 450px;
    height: 350px;
    background-image: url("../img/looks/shop.png");
    background-size: cover;
    position: absolute;
    top: 250px;
    left: 12%;
    box-shadow: -115px 25px 0 #c9cba3;
}

#contact .inputs {
    width: 45%;
    max-height: 200px;
    background-color: #472d30;
    color: #E26d5c;
    position: absolute;
    top: 290px;
    right: 12%;
    padding: 40px;
}

#contact .inputs h3 {
    font-size: 4em;
    font-family: 'Bebas Neue', sans-serif;
    position: relative;
    bottom: 75px;
    left: 180px;
    text-shadow: 1px 1px #472d30;
}

#contact .inputs form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    color: #472d30;
    position: relative;
    bottom: 55px;
}

#contact .inputs form input {
    width: 90%;
    padding: 10px;
    height: 25px;
    color: #472d30;
    border: none;
    background-color: #f5f5ee;
}

#contact .inputs form textarea {
    width: 90%;
    max-width: 350px;
    padding: 10px;
    height: 90px;
    max-height: 90px;
    color: #472d30;
    border: none;
    background-color: #f5f5ee;
}

#contact .inputs form .form1 {
    grid-area: 1 / 1 / 2 / 2;
}

#contact .inputs form .form2 {
    grid-area: 2 / 1 / 3 / 2;
    position: relative;
    bottom: 65px;
}

#contact .inputs form .form3 {
    grid-area: 1 / 2 / 2 / 3;
}

#contact .inputs form .form4 {
    grid-area: 2 / 2 / 3 / 3;
    width: 40%;
    height: 35px;
    padding: 5px;
    position: relative;
    left: 18%;
}

#contact .inputs form .form4:hover {
    background-color: #E26d5c;
}

#contact .inputs form span {
    position: absolute;
    bottom: 90px;
    left: 5px;
    color: #E26d5c;
}

#map .list-shop {
    width: 22%;
    min-height: 220px;
    background-color: #E26d5c;
    position: absolute;
    top: 650px;
    right: 560px;
    color: #472d30;
}

#map .list-shop h4 {
    font-size: 3em;
    font-family: 'Bebas Neue', sans-serif;
    text-shadow: 1px 1px #E26d5c;
    position: relative;
    bottom: 35px;
    right: 55px;
}

#map .list-shop .shop {
    background-color: #E26d5c;
    padding: 10px 20px;
    margin-bottom: -15px;
    position: relative;
    bottom: 30px;
    text-align: left;
    font-size: 0.8em;
}

#map .list-shop .shop h5 {
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 1.2em;
}

#map .shop-map {
    width: 370px;
    height: 370px;
    position: absolute;
    top: 620px;
    right: 200px;
}

#map .shop-map #leaflet-map {
    height: 320px;
}

@media screen and (min-width: 1200px) and (max-width: 1400px){
    #social-media a img {
        right: 30%;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1200px){
    #social-media a img {
        right: 37%;
    }
    #contact .inputs {
        width: 65%;
    }
    #map .list-shop {
        width: 32%;
        right: 420px;
    }
    #map .shop-map {
        right: 80px;
    }
}

@media screen and (min-width: 850px) and (max-width: 1000px){
    #social-media a img {
        right: -22%;
        top: 790px;
        padding-bottom: 50px;
    }
    #contact .inputs {
        width: 65%;
        top: 240px;
    }
    #map .list-shop {
        width: 42%;
        right: 435px;
        top: 590px;
    }
    #map .shop-map {
        right: 80px;
        top: 560px;
    }
    #contact .img {
        display: none;
    }
}

@media screen and (min-width: 550px) and (max-width: 850px){
    #social-media a img {
        right: -22%;
        top: 740px;
        padding-bottom: 50px;
    }
    #contact .inputs {
        width: 65%;
        top: 240px;
    }
    #map .list-shop {
        width: 42%;
        left: 10px;
        top: 590px;
    }
    #map .shop-map {
        right: 10px;
        top: 560px;
        width: 56%;
    }
    #contact .img {
        display: none;
    }
    #contact .inputs h3 {
        left: 130px;
    }
}

@media screen and (min-width: 10px) and (max-width: 550px){
    #social-media a img {
        right: 0;
        top: 1180px;
        padding-bottom: 50px;
    }
    #contact .inputs {
        width: 80%;
        right: 1%;
        top: 240px;
        max-height: 250px;
    }
    #map .list-shop {
        width: 100%;
        left: 0;
        top: 950px;
        padding-bottom: 50px;
    }
    #map .shop-map {
        right: 0;
        top: 650px;
        width: 100%;
        z-index: -1;
    }
    #contact .img {
        display: none;
    }
    #contact .inputs h3 {
        left: 20%;
        font-size: 3em;
    }
    #contact .inputs form textarea {
        height: 180px;
        max-height: 180px;
    }
    #map .list-shop h4 {
        right: 30%;
    }
    #contact .inputs form .form2 {
        bottom: 155px;
    }
    #contact .inputs form .form4 {
        width: 60%;
    }
}

/* CATALOG PAGE */

#catalog {
    width: 100%;
    text-align: center;
    margin: 50px auto;
}

#catalog .products {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center
}

#catalog .products .item {
    width: 27%;
    min-height: 420px;
    flex: 0 0 auto;
    margin: 3% 1%;
    background-color: #E26d5c;
    color: #723d46;
    padding: 15px;
}

#catalog .products .promoted_item {
    width: 27%;
    min-height: 420px;
    flex: 0 0 auto;
    margin: 2% 1%;
    background-color: #c9cba3;
    color: #472d30;
    padding: 15px;
}

#catalog .products .item .img {
    width: 76%;
    position: relative;
    bottom: 5px;
    box-shadow: 20px -8px 0 1px #472d30;
}

#catalog .products .promoted_item .img {
    width: 76%;
    position: relative;
    bottom: 5px;
    box-shadow: 20px -8px 0 1px #472d30;
}

#catalog .products .item h2 {
    font-family: 'Bebas Neue', sans-serif;
    height: 60px;
    font-size: 1.9em;
    text-shadow: 1px 1px #E26d5c;
    position: relative;
    bottom: 32px;
    z-index : 2;
}

#catalog .products .promoted_item h2 {
    font-family: 'Bebas Neue', sans-serif;
    height: 60px;
    font-size: 1.9em;
    text-shadow: 1px 1px #c9cba3;
    position: relative;
    bottom: 52px;
    z-index : 2;
}

#catalog .products .item .descr {
    height: 60px;
    font-size: 1.1em;
    text-align: justify;
    padding: 0 10%;
}

#catalog .products .promoted_item .descr{
    height: 60px;
    font-size: 1.1em;
    text-align: justify;
    padding: 0 10%;
}

#catalog .products .item a button {
    font-family: 'Bebas Neue', sans-serif;
    background-color: #723d46;
    border: none;
    font-size: 1.1em;
    color: #E26d5c;
    padding: 10px;
    cursor: pointer;
    margin: -35px 0 15px 0;
    position: relative;
    left: 20%;
    bottom: 10px;
}

#catalog .products .item a button:hover {
    text-shadow: 2px 2px #472d30;
}

#catalog .products .item h5 {
    font-size: 2.2em;
    font-family: 'Bebas Neue', sans-serif;
    position: relative;
    width: 40%;
    top: 29px;
    right: 65px;
    text-shadow: 1px 1px #472d30;
}

#catalog .products .item .category {
    padding: 5px;
    width: 50%;
    background-color: #723d46;
    color: #E26d5c;
    text-transform: uppercase;
}

#catalog .products .promoted_item a button {
    font-family: 'Bebas Neue', sans-serif;
    background-color: #472d30;
    border: none;
    font-size: 1.1em;
    color: #c9cba3;
    padding: 10px;
    cursor: pointer;
    margin: -35px 0 15px 0;
    position: relative;
    left: 20%;
    bottom: 10px;
}

#catalog .products .promoted_item a button:hover {
    text-shadow: 2px 2px #723d46;
}

#catalog .products .promoted_item h5 {
    font-size: 2.2em;
    font-family: 'Bebas Neue', sans-serif;
    position: relative;
    width: 40%;
    top: 29px;
    right: 65px;
    text-shadow: 1px 1px #723d46;
}

#catalog .products .promoted_item .category {
    padding: 5px;
    width: 50%;
    background-color: #472d30;
    color: #c9cba3;
    text-transform: uppercase;
}

#catalog .products .promoted_item h2 img {
    width: 48px;
    box-shadow: none;
}