/*
    TITLE font-family: 'Bebas Neue', cursive;
    TEXT font-family: 'Montserrat', sans-serif;
*/

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    padding: 0;
}

body {
    width: 100%;
    background-color: #f5f5ee;
    text-align: center;
}

/* HEADER */

#logo1 {
    display: none;
    cursor: default;
}

#logo2 {
    width: 25%;
    max-width: 300px;
    cursor: default;
 }

.br {
    display: none;
}

header {
    width: 90%;
    margin: 20px auto 0 auto;
}

header nav {
    width: 100%;
    margin: auto;
}

header nav .menu {
    font-size: 1.5em;
    margin: 0 30px;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    text-decoration: none;
    text-align: center;
    color: #472d30;
    font-family: 'Bebas Neue', sans-serif;
}

header nav ul li a:hover {
    color: #723d46;
    transition: 0.3s;
}

hr {
    border: none;
    border-bottom: 3px solid #E26d5c;
    margin-top: 20px;
    width: 70%;
}

@media screen and (min-width: 410px) and (max-width: 850px) {
    #logo1 {
        display: block;
        width: 40%;
        margin : 0 auto 20px auto;
    }
    #logo2 {
        display: none;
    }
    header nav .menu {
        font-size: 1.2em;
        margin: 0 20px;
    }
}

@media screen and (min-width: 290px) and (max-width: 410px){
    #logo1 {
        display: block;
        width: 80%;
        margin : 0 auto 20px auto;
    }
    #logo2 {
        display: none;
    }
    header nav .menu {
        font-size: 1em;
        margin: 0 10px;
    }
}

@media screen and (max-width: 290px){
    #logo1 {
        display: block;
        width: 90%;
        margin : 0 auto 10px auto;
    }
    #logo2 {
        display: none;
    }
    header nav .menu {
        font-size: 0.7em;
        margin: 0 8px;
    }
    .br {
        display: block;
    }
}

/* FOOTER */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f5f5ee;
    height: 30px;
    z-index: 5;
}

footer div p {
    position: relative;
    top: 10px;
    color: #472d30;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 2px;
}

footer div p a {
    text-decoration: none;
    color: #472d30;
}

footer div p a:hover {
    color: #723d46;
}

@media screen and (min-width: 410px) and (max-width: 850px) {
    footer div p {
        font-size: 0.6em;
    }
}

@media screen and (min-width: 290px) and (max-width: 410px){
    footer div p {
        font-size: 0.4em;
        letter-spacing: 1px;
    }
}

@media screen and (max-width: 290px){
    footer div p {
        font-size: 0.4em;
        letter-spacing: 0;
    }
}

/* WELCOME HOME PAGE SECTION */

#welcome {
    width: 60%;
    max-width: 700px;
    max-height: 380px;
    margin: 40px auto 0 auto;
    text-align: left;
    display: inline-block;
}

#welcome div img {
    max-width: 70%;
    max-height: 400px;
    box-shadow: -190px 32px 0 1px #c9cba3;
    display: inline;
}

#welcome #welcome-div {
    height: 150px;
    width: 40%;
    position:absolute;
    top: 35%;
    right: 5%;
    background-color: #472d30;
}

#welcome #welcome-text {
    width: 45%;
    min-height: 280px;
    background-color: #E26d5c;
    padding: 40px;
    float: right;
    position: relative;
    bottom: 290px;
    left: 120px;
}

#welcome #welcome-text p {
    font-size: 1.1em;
    padding-bottom: 5px;
    color: #472d30;
    text-align: justify;
}

#welcome #welcome-text a button {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.2em;
    background-color: #472d30;
    padding: 10px;
    border: none;
    color: #E26d5c;
    position: absolute;
    right: 40px;
    margin-bottom: 20px;
    cursor: pointer;
}

@media screen and (min-width: 1650px){
    #welcome {
        margin-top: 100px;
    }
    #welcome #welcome-text {
        min-height: 350px;
    }
}

@media screen and (min-width: 1330px) and (max-width: 1650px) {
    #welcome #welcome-div {
        width: 20%;
        right: 12%;
    }
    #welcome #welcome-text {
        bottom: 270px;
    }
    #welcome #welcome-text p {
        font-size: 0.9em;
        padding-bottom: 10px;
    }
    #welcome #welcome-text a button {
        font-size: 1.1em;
    }
}

@media screen and (min-width: 970px) and (max-width: 1330px){
    #welcome #welcome-div {
        width: 30%;
        top: 38%;
        right: 5%;
    }
    #welcome div img {
        max-width: 80%;
        box-shadow: -200px 32px 0 1px #c9cba3;
    }
    #welcome #welcome-text {
        width: 55%;
        min-height: 230px;
        bottom: 220px;
    }
    #welcome #welcome-text p {
        font-size: 0.9em;
        padding-bottom: 10px;
    }
    #welcome #welcome-text a button {
        font-size: 1em;
    }
}

@media screen and (min-width: 780px) and (max-width: 970px){
    #welcome #welcome-div {
        width: 30%;
        top: 44%;
        right: 0;
    }
    #welcome {
        width: 70%;
    }
    #welcome div img {
        max-width: 90%;
    }
    #welcome #welcome-text {
        width: 65%;
        min-height: 180px;
        bottom: 200px;
        left: 70px;
    }
    #welcome #welcome-text p {
        font-size: 0.8em;
    }
    #welcome #welcome-text a button {
        font-size: 0.9em;
    }
}

@media screen and (min-width: 555px) and (max-width: 780px){
    #welcome #welcome-div {
        width: 10%;
        height: 100px;
        top: 46%;
        right: 0;
    }
    #welcome {
        width: 80%;
    }
    #welcome div img {
        max-width: 90%;
    }
    #welcome #welcome-text {
        width: 75%;
        min-height: 150px;
        bottom: 180px;
        left: 50px;
    }
    #welcome #welcome-text p {
        font-size: 0.7em;
    }
    #welcome #welcome-text a button {
        font-size: 0.8em;
    }
}

@media screen and (min-width: 10px) and (max-width: 555px){
    #welcome div img {
        display: none;
    }
    #welcome #welcome-text {
        width: 100%;
        min-height: 170px;
        background-color: #E26d5c;
        padding: 40px;
        position: relative;
        bottom: 0;
        left: 40px;
    }
    #welcome #welcome-text p {
        font-size: 0.7em;
        padding-bottom: 10px;
    }
    #welcome #welcome-text a button {
        font-size: 0.8em;
    }
}

/* CLEARANCE AND PRODUCT OF THE DAY */

#clearance-potd {
    width: 70%;
    margin: 50px auto 50px auto;
    min-height: 140px;
    position: relative;
    bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    transform: scale(1.1);
}

#clearance-potd .clearance {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    flex: 0 0 auto;
}

#clearance-potd .potd {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    flex: 0 0 auto;
}

#clearance-potd .clearance div {
    width: 140px;
    height: 310px;
    flex: 0 0 auto;
    margin: 10px;
    position: relative;
    bottom: 20px;
}
#clearance-potd .potd div {
    width: 50px;
    height: 50px;
    flex: 0 0 auto;
    margin: 10px;
}

#clearance-potd .potd div:first-child {
    width: 250px;
    height: 130px;
    position: relative;
    left: 50px;
    top: 30px;
    z-index: 1;
}

#clearance-potd .potd div:last-child {
    width: 200px;
    height: 200px;
    float: right;
    position: relative;
    right: 40px;
    background-image: url("../img/looks/random.jpg");
    background-size: contain;
}

.bta:nth-child(2) {
    background-color: #E26d5c;
    color: #723d46;
    border: 2px solid #E26d5c;
    text-shadow: 1px 1px #E26d5c;
}

.bta:nth-child(2) .asb {
    background-color: #723d46;
    color: #E26d5c;
    border: 2px solid #723d46;
    text-shadow: 1px 1px #723d46;
}

.bta:nth-child(2) p {
    background-color: #E26d5c;
    color: #472d30;
    font-weight: lighter;
    text-transform: uppercase;
    text-shadow: none;
    padding: 3px 0;
}

.bta:nth-child(1) p {
    background-color: #472d30;
    color: #c9cba3;
    font-weight: lighter;
    text-transform: uppercase;
    text-shadow: none;
    padding: 3px 0;
}

.bta:nth-child(3) p {
    background-color: #c9cba3;
    color: #472d30;
    font-weight: lighter;
    text-transform: uppercase;
    text-shadow: none;
    padding: 3px 0;
}

.bta:nth-child(3) {
    background-color: #c9cba3;
    color: #472d30;
    border: 2px solid #c9cba3;
    text-shadow: 1px 1px #c9cba3;
}

.bta:nth-child(1) .asb {
    background-color: #c9cba3;
    color: #472d30;
    border: 2px solid #c9cba3;
    text-shadow: 1px 1px #c9cba3;
}

.bta:nth-child(1) {
     background-color: #472d30;
     color: #c9cba3;
     border: 2px solid #472d30;
     text-shadow: 1px 1px #472d30;
 }

.bta:nth-child(3) .asb {
    background-color: #472d30;
    color: #c9cba3;
    border: 2px solid #472d30;
    text-shadow: 1px 1px #472d30;
}

#clearance-potd .clearance div h3 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3em;
    letter-spacing: 2px;
    position: relative;
    bottom: 35px;
    right: 7px;
}

#clearance-potd .clearance div h3 span {
    font-size: 0.7em;
    font-family: 'Bebas Neue', sans-serif;
}

#clearance-potd .clearance div h4 {
    position: relative;
    bottom: 40px;
    height: 35px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 0.9em;
}

#clearance-potd .clearance div img {
    position: relative;
    bottom: 35px;
    width: 120px;
    opacity: 0.9;
}

#clearance-potd .clearance div h5 {
    position: relative;
    bottom: 35px;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 0.5em;
    letter-spacing: 2px;
}

#clearance-potd .clearance div p {
    position: relative;
    bottom: 320px;
    font-size: 0.6em;
    width: 110px;
}

#clearance-potd .clearance div h5 span {
    font-size: 2.6em;
    font-family: 'Bebas Neue', sans-serif;
}

#clearance-potd .clearance div a button {
    font-family: 'Bebas Neue', sans-serif;
    padding: 10px;
    position: relative;
    bottom: 30px;
    cursor: pointer;
}

#clearance-potd .potd div h3 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2em;
    letter-spacing: 2px;
    position: relative;
    bottom: 19px;
    right: 27px;
}

#clearance-potd .potd div h4 {
    position: relative;
    bottom: 119px;
    left: 55px;
    text-transform: uppercase;
    font-size: 0.8em;
    margin: 0 10px;
}

#clearance-potd .potd div img {
    width: 100px;
    opacity: 0.9;
    position: relative;
    bottom: 18px;
    right: 64px;
}

#clearance-potd .potd div p {
    position: relative;
    bottom: 115px;
    left: 110px;
    width: 120px;
    font-size: 0.7em;
    margin: 0 10px -15px 10px;
}

#clearance-potd .potd div a button {
    font-family: 'Bebas Neue', sans-serif;
    padding: 5px 10px;
    margin-top: 15px;
    cursor: pointer;
    position: relative;
    bottom: 110px;
    left: 60px;
}

@media screen and (min-width: 1080px) and (max-width: 1370px){
    #clearance-potd {
        width: 90%;
        bottom: 10px;
    }
}

@media screen and (min-width: 550px) and (max-width: 1080px){
    #clearance-potd {
        transform: scale(0.9);
        width: 95%;
        bottom: 0;
    }
}

@media screen and (min-width: 420px) and (max-width: 550px){
    #clearance-potd {
        transform: scale(0.7);
        width: 100%;
        margin: 0 auto;
        top :20px;
    }
}

@media screen and (min-width: 10px) and (max-width: 420px){
    #clearance-potd {
        transform: scale(0.6);
        width: 100%;
        margin: 0 auto;
        top :0;
        right: 20px;
    }
    #clearance-potd .potd {
        transform: scale(1.3);
        position: relative;
        right: 30px;
    }
}

/* ABOUT US PAGE */

#au {
    margin: 50px auto;
    width: 100%;
}

#au .au-img1 {
    width: 300px;
    height: 350px;
    background-image: url("../img/looks/bathroom.jpg");
    background-size: cover;
    position: absolute;
    left: 15%;
    top: 600px;
}

#au .au-img2 {
    width: 30%;
    height: 280px;
    background-color: #E26d5c;
    position: absolute;
    left: 10%;
    top: 250px;
}

#au .au-img3 {
    width: 250px;
    height: 300px;
    background-image: url("../img/looks/all-purpose.jpg");
    background-size: cover;
    position: absolute;
    right: 15%;
    top: 250px;
}

#au .au-img4 {
    width: 35%;
    height: 210px;
    background-color: #c9cba3;
    position: absolute;
    right: 12%;
    top: 580px;
}

#au .au-img5 {
    width: 35%;
    height: 210px;
    position: absolute;
    right: 12%;
    top: 780px;
}

#au .au-text {
    width: 50%;
    padding: 4%;
    position: absolute;
    top: 280px;
    left: 21%;
    background-color: #472d30;
    color: #E26d5c;
    text-align: right;
}

#au .au-text h3 {
    font-size: 4em;
    font-family: 'Bebas Neue', sans-serif;
    position: relative;
    bottom: 95px;
    text-shadow: 1px 1px #472d30;
}

#au .au-text p {
    font-size: 0.9em;
    position: relative;
    bottom: 55px;
    text-align: justify;
}

#au .au-text a button {
    font-family: 'Bebas Neue', sans-serif;
    background-color: #E26d5c;
    border: none;
    font-size: 1.2em;
    color: #472d30;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 20px;
}

@media screen and (min-width: 860px) and (max-width: 970px){
    #au {
        margin: 40px auto;
    }
    #au .au-text {
        width: 60%;
        top: 220px;
        left: 16%;
    }
    #au .au-img3 {
        right: 5%;
        top: 230px;
    }
    #au .au-img1 {
        left: 5%;
        top: 500px;
    }
    #au .au-img4 {
        right: 8%;
        top: 600px;
    }
    #au .au-text h3 {
        font-size: 3.5em;
        bottom: 65px;
    }
}

@media screen and (min-width: 60px) and (max-width: 860px){
    #au {
        margin: 40px auto;
    }
    #au .au-text {
        width: 60%;
        top: 220px;
        left: 16%;
    }
    #au .au-img3 {
        right: 5%;
        top: 230px;
    }
    #au .au-img1 {
        left: 5%;
        top: 500px;
    }
    #au .au-img4 {
        right: 8%;
        top: 600px;
    }
    #au .au-img5 {
        top: 900px;
    }
    #au .au-text h3 {
        font-size: 3.5em;
        bottom: 65px;
    }
}

@media screen and (min-width: 250px) and (max-width: 500px){
    #au {
        margin: 40px auto;
    }
    #au .au-text {
        width: 90%;
        top: 240px;
        left: 1%;
    }
    #au .au-img3 {
        display: none;
    }
    #au .au-img1 {
        display: none;
    }
    #au .au-img4 {
        display: none;
    }
    #au .au-img5 {
        top: 700px;
    }
    #au .au-text h3 {
        font-size: 3em;
        bottom: 55px;
    }
}

@media screen and (min-width: 10px) and (max-width: 250px){
    #au {
        margin: 40px auto;
    }
    #au .au-text {
        width: 90%;
        top: 240px;
        left: 1%;
    }
    #au .au-text p {
        font-size: 0.7em;
        bottom: 35px;
    }
    #au .au-img3 {
        display: none;
    }
    #au .au-img1 {
        display: none;
    }
    #au .au-img4 {
        display: none;
    }
    #au .au-img5 {
        top: 800px;
    }
    #au .au-text h3 {
        font-size: 2.5em;
        bottom: 35px;
    }
}

/* CONTACT PAGE */

#social-media a img {
    width: 40px;
    margin: 10px;
    position: relative;
    top: 550px;
    right: 25%;
    transition: 0.2s;
}

#social-media a img:hover {
    width: 48px;
    margin: 6px;
    transition: 0.2s;
}

#contact .img {
    width: 40%;
    max-width: 450px;
    height: 350px;
    background-image: url("../img/looks/shop.png");
    background-size: cover;
    position: absolute;
    top: 210px;
    left: 12%;
    box-shadow: -115px 25px 0 #c9cba3;
}

#contact .inputs {
    width: 45%;
    max-height: 200px;
    background-color: #472d30;
    color: #E26d5c;
    position: absolute;
    top: 250px;
    right: 12%;
    padding: 40px;
}

#contact .inputs h3 {
    font-size: 4em;
    font-family: 'Bebas Neue', sans-serif;
    position: relative;
    bottom: 75px;
    left: 180px;
    text-shadow: 1px 1px #472d30;
}

#contact .inputs form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    color: #472d30;
    position: relative;
    bottom: 55px;
}

#contact .inputs form input {
    width: 90%;
    padding: 10px;
    height: 25px;
    color: #472d30;
    border: none;
    background-color: #f5f5ee;
}

#contact .inputs form textarea {
    width: 90%;
    max-width: 350px;
    padding: 10px;
    height: 90px;
    max-height: 90px;
    color: #472d30;
    border: none;
    background-color: #f5f5ee;
}

#contact .inputs form .form1 {
    grid-area: 1 / 1 / 2 / 2;
}

#contact .inputs form .form2 {
    grid-area: 2 / 1 / 3 / 2;
    position: relative;
    bottom: 65px;
}

#contact .inputs form .form3 {
    grid-area: 1 / 2 / 2 / 3;
}

#contact .inputs form .form4 {
    grid-area: 2 / 2 / 3 / 3;
    width: 40%;
    height: 35px;
    padding: 5px;
    position: relative;
    left: 18%;
}

#contact .inputs form .form4:hover {
    background-color: #E26d5c;
}

#contact .inputs form span {
    position: absolute;
    bottom: 90px;
    left: 5px;
    color: #E26d5c;
}

#map .list-shop {
    width: 22%;
    min-height: 220px;
    background-color: #E26d5c;
    position: absolute;
    top: 650px;
    right: 560px;
    color: #472d30;
}

#map .list-shop h4 {
    font-size: 3em;
    font-family: 'Bebas Neue', sans-serif;
    text-shadow: 1px 1px #E26d5c;
    position: relative;
    bottom: 35px;
    right: 55px;
}

#map .list-shop .shop {
    background-color: #E26d5c;
    padding: 10px 20px;
    margin-bottom: -15px;
    position: relative;
    bottom: 30px;
    text-align: left;
    font-size: 0.8em;
}

#map .list-shop .shop h5 {
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 1.2em;
}

#map .shop-map {
    width: 370px;
    height: 370px;
    position: absolute;
    top: 620px;
    right: 200px;
}

#map .shop-map #leaflet-map {
    height: 320px;
}

.custom-popup .leaflet-popup-content-wrapper {
    background:#472d30;
    color:#E26d5c;
    font-size:16px;
    line-height:24px;
    border-radius: 0;
}

.custom-popup .leaflet-popup-content-wrapper a {
    color: rgba(226, 109, 92, 0.1);
}

.custom-popup .leaflet-popup-content-wrapper .leaflet-popup-content p {
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 0.9em;
}

.custom-popup .leaflet-popup-tip-container {
    width:0;
    height:0;
}

.custom-popup .leaflet-popup-tip {
    background: transparent;
    border: none;
    box-shadow: none;
}

.custom-popup .leaflet-popup a.leaflet-popup-close-button {
    color: #723d46;
}

.custom-popup .leaflet-popup a.leaflet-popup-close-button:hover {
    color: #E26d5c;
}

@media screen and (min-width: 1200px) and (max-width: 1400px){
    #social-media a img {
        right: 30%;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1200px){
    #social-media a img {
        right: 37%;
    }
    #contact .inputs {
        width: 65%;
    }
    #map .list-shop {
        width: 32%;
        right: 420px;
    }
    #map .shop-map {
        right: 80px;
    }
}

@media screen and (min-width: 850px) and (max-width: 1000px){
    #social-media a img {
        right: -22%;
        top: 790px;
        padding-bottom: 50px;
    }
    #contact .inputs {
        width: 65%;
        top: 240px;
    }
    #map .list-shop {
        width: 42%;
        right: 435px;
        top: 590px;
    }
    #map .shop-map {
        right: 80px;
        top: 560px;
    }
    #contact .img {
        display: none;
    }
}

@media screen and (min-width: 550px) and (max-width: 850px){
    #social-media a img {
        right: -22%;
        top: 740px;
        padding-bottom: 50px;
    }
    #contact .inputs {
        width: 65%;
        top: 240px;
    }
    #map .list-shop {
        width: 42%;
        left: 10px;
        top: 590px;
    }
    #map .shop-map {
        right: 10px;
        top: 560px;
        width: 56%;
    }
    #contact .img {
        display: none;
    }
    #contact .inputs h3 {
        left: 130px;
    }
}

@media screen and (min-width: 10px) and (max-width: 550px){
    #social-media a img {
        right: 0;
        top: 1180px;
        padding-bottom: 50px;
    }
    #contact .inputs {
        width: 80%;
        right: 1%;
        top: 240px;
        max-height: 250px;
    }
    #map .list-shop {
        width: 100%;
        left: 0;
        top: 950px;
        padding-bottom: 50px;
    }
    #map .shop-map {
        right: 0;
        top: 650px;
        width: 100%;
        z-index: -1;
    }
    #contact .img {
        display: none;
    }
    #contact .inputs h3 {
        left: 20%;
        font-size: 3em;
    }
    #contact .inputs form textarea {
        height: 180px;
        max-height: 180px;
    }
    #map .list-shop h4 {
        right: 30%;
    }
    #contact .inputs form .form2 {
        bottom: 155px;
    }
    #contact .inputs form .form4 {
        width: 60%;
    }
}

/* CATALOG PAGE */

#containercatalog {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    align-content: start;
    margin-top: -65px;
    transform: scale(0.9);
    margin-left: 7%;
}

#containercatalog #find {
    flex: 0 0 auto;
    background-color: #472d30;
    min-height: 660px;
    width: 280px;
    margin: 50px auto;
    position: relative;
    top: 40px;
    color: #E26d5c;
}

#containercatalog #find h3 {
    font-family: 'Bebas Neue', sans-serif;
    text-shadow: 1px 1px #472d30;
    font-size: 4.5em;
    margin-bottom: 10px;
    position: relative;
    bottom: 40px;
    right: 10px;
}

#containercatalog #find form div {
    text-align: left;
    margin: 15px 20px 40px 20px;
}

#containercatalog #find form #price p {
    font-size: 0.8em;
}

#containercatalog #find form #price input {
    display: inline-block;
    width: 60px;
    padding: 5px;
    background-color: #472d30;
    border: 1px solid #723d46;
    color: #E26d5c;
    text-align: right;
}

#containercatalog #find form #price label {
    font-size: 1.2em;
}

#containercatalog #find form h4 {
    font-size: 1.5em;
    letter-spacing: 2px;
    text-align: left;
    margin: 5px 20px 10px 20px;
    text-transform: uppercase;
    font-weight: lighter;
    text-decoration: underline #723d46;
}

#containercatalog #find form div input[type="checkbox"].demo {
    display: none;
}

#containercatalog #find form div input[type="checkbox"].demo + label::before {
    content:'';
    border: 1px solid #723d46;
    padding: 0 0.6rem;
    margin-right: 0.3rem;
}

#containercatalog #find form div input[type="checkbox"].demo:checked + label::before {
    margin-top: 30px;
    background-color: #E26d5c;
}

#containercatalog #find form div label {
    margin-left: 5px;
    text-transform: uppercase;
}

#containercatalog #find form div button {
    padding: 10px;
    margin-top: 30px;
    font-family: 'Bebas Neue', sans-serif;
    border: 1px solid #723d46;
    color: #E26d5c;
    background-color: #472d30;
    font-size: 1.5em;
    letter-spacing: 2px;
}

#containercatalog #find form div button:hover {
    color: #472d30;
    background-color: #E26d5c;
}

#containercatalog #catalog {
    flex: 0 0 auto;
    width: 80%;
    text-align: center;
    margin: 50px auto;
}

#catalog .products {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    align-content: start;
}

#catalog .products .item {
    width: 250px;
    min-height: 370px;
    flex: 0 0 auto;
    margin: 3%;
    background-color: #E26d5c;
    color: #472d30;
    padding: 15px;
}

#catalog .products .promoted_item {
    width: 250px;
    min-height: 370px;
    flex: 0 0 auto;
    margin: 3%;
    background-color: #c9cba3;
    color: #472d30;
    padding: 15px;
}

#catalog .products .item .img {
    width: 180px;
    position: relative;
    bottom: 5px;
    box-shadow: 20px -8px 0 1px #472d30;
}

#catalog .products .promoted_item .img {
    width: 180px;
    position: relative;
    bottom: 5px;
    box-shadow: 20px -8px 0 1px #472d30;
}

#catalog .products .item h2 {
    font-family: 'Bebas Neue', sans-serif;
    height: 60px;
    font-size: 1.9em;
    text-shadow: 1px 1px #E26d5c;
    position: relative;
    bottom: 32px;
    z-index : 2;
}

#catalog .products .promoted_item h2 {
    font-family: 'Bebas Neue', sans-serif;
    height: 60px;
    font-size: 1.9em;
    text-shadow: 1px 1px #c9cba3;
    position: relative;
    bottom: 52px;
    z-index : 2;
}

#catalog .products .item a button {
    font-family: 'Bebas Neue', sans-serif;
    background-color: #E26d5c;
    border: 1px solid #723d46;
    font-size: 1.1em;
    color: #472d30;
    padding: 10px;
    cursor: pointer;
    margin: -35px 0 15px 0;
    position: relative;
    left: 20%;
    bottom: 10px;
}

#catalog .products .item a button:hover {
    background-color: #472d30;
    color: #E26d5c;
}

#catalog .products .item h5 {
    font-size: 1.7em;
    font-family: 'Bebas Neue', sans-serif;
    position: relative;
    width: 40%;
    top: 19px;
    letter-spacing: 2px;
    right: 65px;
    text-shadow: 1px 1px #472d30;
}

#catalog .products .item span {
    font-size: 0.8em;
    letter-spacing: 2px;
    height: 15px;
    margin-top: -15px;
    margin-bottom: 5px;
    position: relative;
    bottom: 15px;
    right: 60px;
    display: block;
}
#catalog .products .item .discount {
    font-size: 1.4em;
}

#catalog .products .promoted_item span {
    font-size: 0.8em;
    letter-spacing: 2px;
    height: 15px;
    margin-top: -15px;
    margin-bottom: 5px;
    position: relative;
    bottom: 15px;
    right: 60px;
    display: block;
}
#catalog .products .promoted_item .discount {
    font-size: 1.4em;
}

#catalog .products .item .category {
    padding: 12px 5px 5px 5px;
    width: 70%;
    border-top: 1px solid #472d30;
    color: #472d30;
    text-transform: uppercase;
}

#catalog .products .promoted_item a button {
    font-family: 'Bebas Neue', sans-serif;
    background-color: #c9cba3;
    border: 1px solid #723d46;
    font-size: 1.1em;
    color: #472d30;
    padding: 10px;
    cursor: pointer;
    margin: -35px 0 15px 0;
    position: relative;
    left: 20%;
    bottom: 10px;
}

#catalog .products .promoted_item a button:hover {
    background-color: #472d30;
    color: #c9cba3;
}

#catalog .products .promoted_item h5 {
    font-size: 2.2em;
    font-family: 'Bebas Neue', sans-serif;
    position: relative;
    width: 40%;
    top: 29px;
    right: 65px;
    text-shadow: 1px 1px #723d46;
}

#catalog .products .promoted_item .category {
    padding: 12px 5px 5px 5px;
    width: 70%;
    border-top: 1px solid #472d30;
    color: #472d30;
    text-transform: uppercase;
}

#catalog .products .promoted_item h2 img {
    width: 48px;
    box-shadow: none;
}

#pagination {
    width: 100%;
    height: 100px;
    margin-top: 20px;
}

#pagination div {
    display: inline-block;

}

#pagination p {
    display: inline;
    width: 55px;
    padding: 11px;
    background-color: #472d30;
    color: #E26d5c;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.8em;
}

#pagination a {
    display: inline;
    min-width: 45px;
    padding: 11px 6px ;
    background-color:#472d30;
    color: #E26d5c;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.8em;
    text-decoration: none;
}

#pagination a:hover {
    background-color: #E26d5c;
    color: #472d30;
}

@media screen and (min-width: 1110px) and (max-width: 1500px){
    #containercatalog {
        width: 120%;
        margin-top: -65px;
        transform: scale(0.8);
        margin-left: -10%;
    }
    #containercatalog #find {
        position: absolute;
        top: 130px;
        left: 1%;
        transform: scale(0.9);
    }
    #containercatalog #catalog {
        width: 80%;
        position: absolute;
        top: 120px;
        right: 1%;
    }
    #catalog .products {
        width: 100%;
    }
}

@media screen and (min-width: 840px) and (max-width: 1110px){
    #containercatalog {
        width: 130%;
        margin-top: -65px;
        transform: scale(0.7);
        margin-left: -16%;
    }
    #containercatalog #find {
        position: absolute;
        top: 130px;
        left: 1%;
        transform: scale(0.9);
    }
    #containercatalog #catalog {
        width: 95%;
        position: absolute;
        top: 10px;
        right: -15%;
        transform: scale(0.8)
    }
    #catalog .products {
        width: 100%;
    }
}

@media screen and (min-width: 40px) and (max-width: 840px){
    #containercatalog {
        width: 130%;
        margin-top: -65px;
        transform: scale(0.7);
        margin-left: -16%;
    }
    #containercatalog #find {
        position: absolute;
        top: 130px;
        left: -6%;
        transform: scale(0.9);
    }
    #containercatalog #catalog {
        width: 90%;
        position: absolute;
        top: 10px;
        right: -20%;
        transform: scale(0.8)
    }
    #catalog .products {
        width: 100%;
        transform: scale(0.8)
    }
}

/* PRODUCT DETAILS */

#catalog-detail {
    margin: 80px auto;
    width: 80%;
    z-index: 3;
}

#catalog-detail .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 2em 2em;
    grid-template-areas:
            "title title title title title"
            "picture picture picture description description"
            "picture picture picture description description"
            "picture picture picture description description"
            "picture picture picture description description"
            "picture picture picture description description";
}

#catalog-detail .title {
    grid-area: title;
    width: 100%;
    background-color: #472d30;
    height: 40px;
}

#catalog-detail .title h2 {
    font-family: 'Bebas Neue', sans-serif;
    color: #E26d5c;
    text-align: left;
    letter-spacing: 5px;
    font-size: 2.7em;
    position: relative;
    bottom: 20px;
    left: 25px;
    text-shadow: 1px 1px #472d30;
}

#catalog-detail .title p {
    font-family: 'Bebas Neue', sans-serif;
    color: #E26d5c;
    text-align: left;
    letter-spacing: 5px;
    font-size: 3.9em;
    text-shadow: 1px 1px #472d30;
    float: right;
    position: relative;
    bottom: 85px;
    right: 25px;
}

#catalog-detail .picture {
    grid-area: picture;
    width: 100%;
    background-color: #E26d5c;
    margin-top: -20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}

#catalog-detail .picture .img {
    width: 44%;
    min-width: 300px;
    margin: 3%;
    flex: 0 0 auto;
    border: #723d46;
}

#catalog-detail .description {
    grid-area: description;
    width: 100%;
    background-color: #472d30;
    margin-top: -20px;
    position: relative;
    min-height: 450px;
}

#catalog-detail .description p {
    padding: 60px;
    color: #E26d5c;
    font-size: 1.5em;
    font-weight: lighter;
    text-align: justify;
    z-index: 0;
}

#catalog-detail .description h5 {
    border: 1px solid #723d46;
    color: #E26d5c;
    text-transform: uppercase;
    margin: 15px auto;
    padding: 10px 0;
    width: 40%;
    font-weight: lighter;
    display: inline-block;
    position: absolute;
    bottom: 45px;
    left: 30%;
    text-align: center;
}

#catalog-detail .description h6 {
    font-weight: lighter;
    color: #E26d5c;
    letter-spacing: 3px;
    padding: 10px 0;
    width: 80%;
    border-top: 1px solid #723d46;
    position: absolute;
    bottom: 5px;
    left: 10%;
    text-align: center;
}

/* 404 */

#error {
    width: 80%;
}

#error img {
    margin-top: 50px;
    width: auto;
    max-height: 300px;
}

#error p {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.5em;
    color: #472d30;
    margin: 50px auto;
}

#error button {
    padding: 10px 15px;
    background-color: #E26d5c;
    color: #472d30;
    font-size: 1.6em;
    font-family: 'Bebas Neue', sans-serif;
    border: none;
    letter-spacing: 2px;
}

#error button:hover {
    cursor: pointer;
}

/* LIGHTBOX */



body.lightbox:before {
    content: "";
    background: rgba(71, 45, 48, 0.9);
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
}

#floatingGallery {
    display: none;
    position: fixed;
    margin: auto;
    top: 100px;
    left: 0;
    right: 0;
    z-index: 5;
    animation-name: zoom;
    animation-duration: 0.6s;
}

#galleryPicture {
    display: inline-block;
    margin: 200px auto;
    width: 500px;
}

#leftArrow {
    position: absolute;
    top: 35vh;
    left: 0;
    width: 5%;
    background-color: #E26d5c;
    padding: 25px 10px;
}

#rightArrow {
    position: absolute;
    top: 35vh;
    right: 0;
    width: 5%;
    background-color: #E26d5c;
    padding: 25px 10px;
}

#floatingGallery button {
    position: absolute;
    top: -100px;
    right: 0;
    padding: 20px;
    background-color: #E26d5c;
    color: #472d30;
    font-size: 1.6em;
    border: none;
}