<html lang="en">
<body>
<style type="text/css"></style>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap" rel="stylesheet">

<div style="background-color: #f5f5ee; margin: 0 auto;width: 100%; height: 100vh;padding: 50px 0;">
    <div style="background-color: #472d30; width: 80%; min-height: 250px; text-align: center;margin: 150px auto;">
        <h3 style="font-family: 'Bebas Neue', sans-serif; font-size: 5em; color: #E26d5c;text-shadow: 1px 1px #472d30;position: relative; bottom: 45px; right: 33%">New mail</h3>
        <p style="padding: 50px; margin-top: -120px; color: #E26d5c;font-family: 'Montserrat', sans-serif; text-align:justify;"></p>
        <p style="padding: 20px 50px 50px 0; margin-top: -80px; color: #E26d5c;font-family: 'Montserrat', sans-serif; text-align:right; font-size: 1.3em;">Send by :</p>
    </div>

</div>
</body>
</html>